/* this shit below here is needed for react transition group's css transition*/

.fade-enter {
  /* right before it comes in */
  opacity: 0;
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  transform: translate(0px, 60px);
}

.fade-enter-active {
  /* til end of come-in animation */
  opacity: 1;
  left: 0;
  transform: translate(0px, 0px);
  transition: opacity 170ms ease-in-out, transform 170ms ease-out;
  transition-delay: 210ms;
}

.fade-exit {
  /* right as it's leaving */
  opacity: 1;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 0;
}

.fade-exit-active {
  /* to end of leave animation */
  opacity: 0;
  transform-origin: 50% 60px;
  transform: scale(0.85);
  transition: opacity 200ms ease, transform 170ms cubic-bezier(.92, .13, .95, .65);
}

.expanding-link-block-text-enter {
  max-height: 0;
  opacity: 0;
}

.expanding-link-block-text-enter-active {
  max-height: 500px;
  opacity: 1;
  transition: all 500ms ease-in;
}

.expanding-link-block-text-exit {
  max-height: 500px;
  opacity: 1;
}

.expanding-link-block-text-exit-active {
  max-height: 0;
  opacity: 0;
  transition: all 500ms ease-out;
}