
/* this shit below here is needed for react transition group and css transition*/

.fade-enter {
    opacity: 0;
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: opacity 1000ms ease;
  }
  
  .fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
  }
  
  .fade-exit {
    opacity: 0;
    transition: opacity 1000ms ease;
  }