/* this shit below here is needed for react transition group and css transition*/

.fade-enter {
    /* right before it comes in */
    opacity: 0;
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    transform: translate(0px, 60px);
}

.fade-enter-active {
    /* applied immediately after fade-enter, also as it's coming in, how we want it to look when we end */
    opacity: 1;
    left: 0;
    transform: translate(0px, 0px);
    transition: opacity 300ms ease, transform 300ms ease;
    transition-delay: 200ms;
}

.fade-exit {
    /* as it's leaving */
    opacity: 1;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 0;
}

.fade-exit-active {
    opacity: 0;
    transform: scale(0.7);
    transition: opacity 200ms ease-out, transform 300ms ease-in;
}