
/* this shit below here is needed for react transition group and css transition*/

.fade-enter { /* as it's coming in */
    opacity: 0;
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    transition: opacity 500ms ease;
  }
  
  .fade-enter-active { /* applied immediately after fade-enter, also as it's coming in */
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  
  .fade-exit { /* as it's leaving */
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    transition: opacity 500ms ease;
  }