/* this shit below here is needed for react transition group and css transition*/

.fade-enter {
    /* right before it comes in */
    opacity: 0;
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    transform: translate(0px, 60px);
}

.fade-enter-active {
    /* from beginning of come-in animation to end of come-in animation */
    opacity: 1;
    left: 0;
    transform: translate(0px, 0px);
    transition: opacity 300ms ease-in-out, transform 300ms ease-out;
    transition-delay: 420ms;
}

.fade-exit {
    /* as it's leaving */
    opacity: 1;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 0;
}

.fade-exit-active {
    /* from beginning of leave animation to end of leave animation */
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 600ms ease, transform 600ms ease-in;
}
