@tailwind base;
@tailwind components;
@tailwind utilities;
.the-big-nicknames-banner {
  font-family: 'Times New Roman', Times, serif;
  /*font-family: monospace;*/
}

.selected-effect {
  background-color: black;
  color: white;
}

.not-selected {
  --tw-bg-opacity: 1;
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
  color: black;
}

.no-scroll-bruh::-webkit-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  display: none;
}

.no-scroll-bruh {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox (it doesn't work lol) */
}

html {
  /* this here makes the scrollbar vanish on firefox while still allowing for scrolling. why the fuck we need to apply this shit to body in the later versions of firefox? i don't fucking know. but it works. */
  overflow-y: scroll;
  scrollbar-width: none;
}

@layer components {
  .navbutton-style {
    @apply w-auto hover:text-gray-200 active:text-gray-600 text-sm tiny-screen:text-base sm:text-lg md:text-xl xl:text-2xl
  }
  .navbutton-rightsidemenu-style {
    @apply navbutton-style text-lg tiny-screen:text-xl
  }
  .about-me-paragraph {
    @apply text-white py-4 px-2 text-lg sm:text-xl 2xl:text-2xl col-start-1
  }
  .about-me-grid-item {
    @apply py-1 px-4
  }
  .homepage-paragraph {
    @apply about-me-paragraph py-3 px-0 text-left 
  }
  .about-me-img {
    @apply shadow-lg w-11/12 tiny-screen:w-4/5 sm:w-3/5 md:w-10/12 lg:w-11/12 xl:w-10/12
  }
  .about-me-img-caption {
    @apply text-xs sm:text-sm xl:text-base text-center
  }
  .blue-n-purple-link {
    @apply underline active:text-blue-900 text-blue-600 hover:text-blue-700 visited:text-purple-600
  }
}